<div ng-controller="UsersCtrl">
  <thead>
    <th class="col-md-3">new first name</th>
    <th class="col-md-4">new last name</th>
    <th class="col-md-4">new age</th>
    <th class="col-md-4">new gender</th>
  </thead>
  <tbody>
  <form name="updateForm" novalidate>
    <th><input name="firstName" ng-model="updateUserInfo.firstName" type="text" class="form-control"></th>
    <th><input ng-model="updateUserInfo.lastName" type="text" class="form-control" name="lastName"></th>
    <th><input ng-model="updateUserInfo.age" type="text" class="form-control" name="age" pattern="^[1-9]\d*$"></th>
    <th><input ng-model="updateUserInfo.gender" type="text" class="form-control" name="gender" pattern="\b(male|female|others)\b"></th>
    <th><input id="update" ng-disabled="updateForm.$invalid" type="submit" value="submit" ng-click="updateUser(updateUserInfo, user, $index)"></th>
  </tbody>
</form>
</div>
