<p id="notice"><%= notice %></p>

<h1>Create Users</h1>

<div class="container">
  <div ng-controller="UsersCtrl">

    <div class="row" ng-init="getUser()">
      <div class="col-md-12">
        <form name="createForm" novalidate>
          <div>
            <label for=name>first name</label>
            <input ng-model="newUserInfo.firstName" type="text" name="firstName" required>
            <div ng-show="createForm.firstName.$invalid">first name is required</div>
          </div>

          <div>
            <label for=name>last name</label>
            <input ng-model="newUserInfo.lastName" type="text" name="lastName" required>
            <div ng-show="createForm.lastName.$invalid">last name is required</div>
          </div>

          <div>
            <label for=name>age</label>
            <input ng-model="newUserInfo.age" type="text" name="age" pattern="^[1-9]\d*$">
            <div ng-show="createForm.age.$invalid">age is not positive number</div>
          </div>

          <div>
            <label for=name>gender</label>
            <input ng-model="newUserInfo.gender" type="text" name="gender" pattern="\b(male|female|others)\b" required>
            <div ng-show="createForm.gender.$invalid">not a legal gender</div>
          </div>

          <input id="create" type="button" value="submit" ng-disabled="createForm.$invalid" ng-click="createUser(newUserInfo)" />
        </form>

        <h1>Listing Users</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-3">first name</th>
              <th class="col-md-2">last name</th>
              <th class="col-md-2">age</th>
              <th class="col-md-2">gender</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in data">
              <td>{{user.first_name}}</td>
              <td>{{user.last_name}}</td>
              <td>{{user.age}}</td>
              <td>{{user.gender}}</td>
              <td>
                <input id="edit" type="button" value="edit" ng-click="showHide(user)">
              </td>
              <td>
                <input id="delete" type="button" value="delete" ng-click="deleteUser(user)">
              </td>
              <td ng-user="" ng-show="user.display"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
