
<h1>edit users page</h1>
<div class="container">
  <div ng-controller="UsersCtrl">

    <div class="row" ng-init="getUser()">
      <div class="col-md-12">
        <table>
          <thead>
            <th class="col-md-3">first name</th>
            <th class="col-md-2">last name</th>
            <th class="col-md-2">age</th>
            <th class="col-md-2">gender</th>
          </thead>
          <tbody>
            <td><input ng-model="newUserInfo.firstName" type="text" class="form-control" name="firstName" required /></td>
            <td><input ng-model="newUserInfo.lastName" type="text" class="form-control" name="lastName"></td>
            <td><input ng-model="newUserInfo.age" type="number" class="form-control" name="age" required></td>
            <td><input ng-model="newUserInfo.gender" type="text" class="form-control" name="gender"></td>
            <td><input type="submit" ng-click="createUser(newUserInfo)"></td>
          </tbody>
        </table>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-3">first name</th>
              <th class="col-md-2">last name</th>
              <th class="col-md-2">age</th>
              <th class="col-md-2">gender</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in data">
              <td>{{user.first_name}}</td>
              <td>{{user.last_name}}</td>
              <td>{{user.age}}</td>
              <td>{{user.gender}}</td>
              <td ng-user="">
              </td>
            </tr>
          </tbody>
        </table>
        <%# <table ng-user=""></table> %>
      </div>
    </div>
  </div>
</div>
